<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center mb-16">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
        <p>
            Me llamo Marcos. Empecé a programar porque me gusta aprender constantemente y resolver problemas. Hoy desarrollo sitios web completos. 
        </p>
        
        <p>
            Un éxito personal ha sido colaborar en la creación de un sitio web para un negocio local de mi región y desarrollar un ecommerce para la tecnicatura de la <strong>Universidad Tecnológica Nacional UTN</strong>.
        </p>
        
        <p>
            Mis objetivos son brindar soluciones eficaces en proyectos profesionales y escribir un blog sobre tecnología. 
        </p>
    </div>

    <img src="/fotomia.jfif" alt="imagen sobre mi" class="rounded-full size-64 order-1 md:order-2" >
</section>
