---
import type { Code, Debug } from "astro:components";
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Febrero 2024",
        title: "Desarrollador Back-end - Coderhouse",
        description: "Termino el curso de desarrollo backend en coderhouse: especializado en Node.js",
        link:"#",
    },
    {
        date: "Agosto 2023",
        title: "Desarrollador Front-end - Coderhouse",
        description: "Termino el curso de React de coderhouse: proyecto final un e-commerce.",
    },
    {
        date: "Junio 2023",
        title: "Curso Javascript - Coderhouse",
        description: "Termino el curso de Javascript de coderhouse.",
    },
    {
        date: "Marzo 2023",
        title: "Desarrollador web - Coderhouse",
        description: "Termino el curso de Desarrollo Web de coderhouse.",
    },

]
---


<ol class="relative border-s border-gray-200 ml-3"> 
    {
        EXPERIENCE.map(experience =>(
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />    
        </li>
        ))
    }                 
</ol>

