---
import type { Code, Debug } from "astro:components";
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "Febrero 2024",
        title: "Desarrollo Backend - Coderhouse",
        description: "Completo el curso de desarrollo backend en coderhouse: especializado en Node.js. Tecnologías adquiridas: Node JS, Express JS, Nest JS básico.",
        link: "/certificados/certificado-backend.png"
    },
    {
        date: "Agosto 2023",
        title: "React JS - Coderhouse",
        description: "Completo el curso de React de coderhouse. Tecnologías adquiridas: React JS, Firebase.",
        link: "/certificados/certificado-react.png"
    },
    {
        date: "Junio 2023",
        title: "Javascript - Coderhouse",
        description: "Completo el curso de Javascript de coderhouse.",
        link: "/certificados/certificado-javascript.png"
    },
    {
        date: "Marzo 2023",
        title: "Desarrollo Web - Coderhouse",
        description: "Completo el curso de Desarrollo Web de coderhouse. Tecnologías adquiridas: HTML5, CSS3, SASS, Boostrap.",
        link: "/certificados/certificado-de-desarrollo-web.png"
    },

]
---


<ol class="relative border-s border-gray-200 ml-3"> 
    {
        EXPERIENCE.map(experience =>(
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />    
        </li>
        ))
    }                 
</ol>

