<section class="grid md:grid-cols-5 grid-cols-2 md:grid-rows-2 grid-rows-10 gap-x-5 gap-y-12 mt-12 justify-center justify-items-center">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/html5.svg" alt="html">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/css.svg" alt="css">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/tailwindcss.svg" alt="tailwind css">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/javascript.svg" alt="javascript">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/react.svg" alt="react">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/nodejs.svg" alt="node js">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/pythonsvg.svg" alt="python">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/django.svg" alt="django">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/mysql.svg" alt="mysql">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/tecnologias/mongodb.svg" alt="mongo db">
</section>