<section class="grid md:grid-cols-5 grid-cols-2 md:grid-rows-2 grid-rows-10 gap-x-5 gap-y-12 mt-12 justify-center justify-items-center">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/html5.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/css.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/tailwindcss.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/javascript.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/react.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/nodejs.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/pythonsvg.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/django.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/mysql.svg" alt="">
    <img class="size-16 hover:scale-125 transition ease-in-out delay-100" src="/public/tecnologias/mongodb.svg" alt="">
</section>